<% layout("/layouts/boilerplate") %>
<div class="p-3 mt-3 bg-body-tertiary">
    <div class="card mb-3 col-7 offset-2 p-2" style="max-width: 600px;">
        <div class="row g-0">
        <div class="col-md-4" style="height: 100%;">
            <img src="<%= cart.image%>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title"><%= cart.title %></h5>
                <p><%= cart.description %></p>
                <hr>
                <p><b>&#8377;<%= cart.price %></b></p>
                <p><%= cart.category %></p>
                <button class="btn btn-danger"><b><i class="fa-solid fa-bag-shopping"></i>&nbsp ADD TO BAG</b></button>
                <button class="btn btn-outline-dark"><b><i class="fa-regular fa-heart"></i>&nbsp WISHLIST</b></button>
            </div>
        </div>
        </div>
    </div>
        <div class="buttons col-6 offset-4">
            <a href="/carts/<%=cart._id%>/edit"><button class="btn btn-danger">edit</button></a>
            <form method="POST" action="/carts/<%=cart._id%>?_method=DELETE">
                <button class="btn btn-dark">DELETE</button>
            </form>
        </div>
    


    <div class="review col-7 offset-2">
        <h4>Leave a Review</h4>
        <form action="/carts/<%= cart.id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mt-3">
                <label>Leave a Comment</label>
                <textarea id="comments" row="5" col="50"
                 class="form-control" name="review[comment]" 
                 required></textarea>
            </div>
            <div class="invalid-feedback">Please add some comments for review</div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>  
              </div>          
            <button class="btn btn-outline-dark mt-2">Submit</button>
        </form>
    </div>
    <hr>

        <h3 class="col-8 offset-2"><b>All review</b></h3>
        <div class="row col-8 offset-2 mb-2">
        <% for(review of cart.reviews) { %>
            <div class="card col-5 ms-2 mb-3">
                <div class="card-body">
                  <p class="card-text"><%= review.rating %></p>
                  <p class="card-text"><%= review.comment %></p>
                </div>
                <form method="POST" action="/carts/<%= cart.id%>/reviews/<%=review.id%>?_method=DELETE">
                    <button class="btn btn-dark col-4 mb-1">Delete</button>
                </form>
              </div>
        <% } %> 
    </div>

</div>

<script src="../public/js/script.js"></script>